* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* --first-color: white;
    --second-color: black;
    --border-color: black; */

    /* zmienic to na koniec projektu z tym do góry */
    --first-color: black;
    --second-color: white;
    --border-color: white;


}

body {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    color: var(--second-color);
    background-color: var(--first-color);
    overflow: hidden;
    display: flow-root;
}

.header {
    text-align: center;
    margin-top: 30px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px; */
}

.header h1 {
    font-weight: 400;
    font-size: 62px;

}

.header p {
    font-size: 22px;
}

.containers {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.left-section {
    width:1000px;
    margin: 15px;
}

.transactions-list {
    display: flex;
    /* justify-content: space-between; */
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 30px; */
}

.income h3 {
    color: green;
}

.costs h3 {
    color: red;
}

.left-section h2,
.control-panel h2 {
    text-align: center;
    /* margin: 15px 0; */
    text-transform: uppercase;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 20px;
}

.control-panel h2 {
    margin-top: 60px;
    margin-bottom: 20px;
}



.control-panel {
    border: 1px solid var(--border-color);
    width: 450px;
    margin: 15px;

}

.control-panel p {
    font-size: 48px;
    text-align: center;
    font-weight: 500;
    margin-top: 25px;
}

.income,
.costs {
    margin: 0 20px;
    padding: 30px 10px 10px 10px;
    width: 50%;
    border: 1px solid var(--border-color);
}

.transactions-list h3 {
    text-align: center;
    margin: 10px 0 20px 0;
    font-size: 26px;
}

.left-section .item {
    display: flex;
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 8px;
    justify-content: space-between;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--border-color);
}

.left-section .item:last-child {
    border-bottom: none;
}

.fa-xmark {
    margin-left: 20px;
    /* padding: 15px; */
    font-size: 20px;
    cursor: pointer;
    color: var(--second-color);
    transition: transform .3s;
}

.fa-xmark:hover {
    transform: scale(0.8)
}

.fa-money-bill-1-wave,
.fa-cart-shopping,
.fa-utensils,
.fa-film {
    width: 18px;
    height: 18px;
}

.fa-trash-can,
.fa-plus {
    padding-right: 10px;
}

.buttons-panel {
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0 40px 0;
}

.control-panel button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 38px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    background: none;
    color: var(--second-color);
    transition: background-color .8s, color .8s, border .8s;
}

.control-panel button:hover {
    background-color: var(--second-color);
    color: var(--first-color);
    border: var(--second-color);
}

.colors-panel {
    display: flex;
    justify-content: center;
}

.white,
.black {
    width: 45px;
    height: 45px;
    border: 1px solid var(--border-color);
    border-radius: 50px;
    margin: 15px 20px 60px 20px;
    transition: transform .3s;
}

.white:hover,
.black:hover {
    transform: scale(0.9);
    cursor: pointer;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

.add-transaction-panel {
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    /* ponizsze 4 wiersze zapewniaja ze popup zakryje 100% strony  */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* tez 5 ponizsze wiersze tez zapewniaja ze popup zakryje 100% strony wiec jeden zestaw wyłączam  */
    /* top: 50%;
    left: 50%;
    height: 100vmax;
    width: 100vmax;
    transform: translate(-50%,-50%); */

    color: white;
    background-image: linear-gradient(100deg, blue, gray);
}

.add-transaction-panel h2 {
    text-align: center;
    /* margin: 15px 0; */
    text-transform: uppercase;
    font-weight: 400;
    font-size: 38px;
    /* margin:auto; */

}

.add-transaction-panel label {
    margin-top: 40px;
    font-size: 28px;
}

.add-transaction-panel small {
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 8px;
    font-style: italic;
}

.add-transaction-panel input,
.add-transaction-panel select {
    width: 800px;
    height: 45px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    font-size: 20px;
    padding: 0 20px 0 20px;
}

.add-transaction-panel button {
    margin-top: 30px;
    width: 140px;
    height: 50px;
    font-size: 20px;
    border-radius: 8px;
    background: none;
    border: 1px solid white;
    color: white;
    margin: 25px;
    cursor: pointer;
    transition: background-color .5s
}

.add-transaction-panel button:hover {
    background-color: black;
}


